<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="mizucoffee">
  <meta name="description" content="Twitterのアカウント凍結対策に！フォローしている人の一覧をバックアップしませんか？簡単操作でダウンロードできますよ！">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="canonical" href="http://hiya.mizucoffee.net/">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
  <link rel="stylesheet" href="/main.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.6.0/superagent.min.js"></script>
  <script src="/main.js"></script>
  <script src="/analytics.js"></script>
  <title>
    <%- name %>
  </title>
</head>

<body>
  <h1>
    <%- name %> v
      <%- ver %>
  </h1>
  <div class="main">

    <section class="user">
      <h2>あなたの情報</h2>
      <img id="user-img" />
      <div id="user-name" class="overflow-text"></div>
      <div id="user-screen_name" class="overflow-text"></div>
    </section>

    <h2 id="count">取得件数: 件</h2>
    <div class="buttons">
      <a class="btn btn-green" href="/api/csv;">CSV形式でダウンロード</a><br>
      <a class="btn btn-light-blue" href="javascript:reload();">再取得</a><br>
      <a class="btn btn-blue" href="/api/logout">ログアウト</a>
    </div>
    <section>
      <h2>▼あなたがフォローしている人たち</h2>
      <div id="text">
      </div>
    </section>
  </div>
  <div id="loading">
    <div id="loading-back"></div>
    <div id="loading-window">
      <img src="/gif-load.gif" /><br> 読み込み中
    </div>
  </div>
  <a href="https://github.com/kawakawaritsuki/follow-backuptter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  <footer>
    もしこのサービスに救われた人が居て将来私に会う事があれば寿司でも奢って下さい（笑） 作者: <a href="http://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>
  </footer>
</body>

</html>