<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="mizucoffee">
  <meta name="description" content="Twitterのアカウント凍結対策に！フォローしている人の一覧をバックアップしませんか？簡単操作でダウンロードできますよ！">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="canonical" href="http://follow-backup.mizucoffee.net/">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/modal.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.6.0/superagent.min.js"></script>
  <script src="/main.js"></script>
  <script src="/analytics.js"></script>
  <title>
    <%- name %>
  </title>
</head>

<body>
  <h1 class="overflow-text">
    <%- name %> v
      <%- ver %>
  </h1>
  <div class="main">

    <div class="share">
      <a target="_blank" href="https://twitter.com/share?text=ふぉろーばっぷあっぷったーβ&via=kawakawaritsuki&url=http%3A%2F%2Ffollow-backup.mizucoffee.net%2F"
        class="btn btn-tweet">Twitterでシェア</a>
      <a target="_blank" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fabout.twitter.com%2Fja%2Fresources%2Fbuttons&ref_src=twsrc%5Etfw&related=kawakawaritsuki&screen_name=kawakawaritsuki&tw_p=tweetbutton"
        class="btn btn-tweet">バグ報告・意見・ご要望等を作者に言う</a>
    </div>
    <section class="user">
      <h2>あなたの情報</h2>
      <img id="user-img" />
      <div id="user-name" class="overflow-text"></div>
      <div id="user-screen_name" class="overflow-text"></div>
    </section>

    <h2 id="follow-count">フォロー数: 件</h2>
    <h2 id="get-count">　取得件数: 件</h2><br>
    <a class="btn btn-green" href="javascript:csv();">CSV形式でダウンロード</a><br>
    <a class="btn btn-light-blue" href="javascript:reload();">再取得</a><br>
    <a class="btn btn-blue" href="/api/logout">ログアウト</a>

    <section id="top">
      <div class="follow-you">
        <a id="topBackBtn" class="btn btn-light-blue btn-menu" href="javascript:back();">戻る</a>
        <h2 id="top-h2" class="overflow-text">▼あなたがフォローしている人たち Page:1</h2>
        <a id="topNextBtn" class="btn btn-light-blue btn-menu" href="javascript:next();">進む</a>
      </div>
      <div id="text">
      </div>
      <hr>
      <div class="follow-you">
        <a id="btmBackBtn" class="btn btn-light-blue btn-menu" href="javascript:backb();">戻る</a>
        <h2 id="bottom-h2" class="overflow-text">▲あなたがフォローしている人たち Page:1</h2>
        <a id="btmNextBtn" class="btn btn-light-blue btn-menu" href="javascript:nextb();">進む</a>
      </div>
    </section>
  </div>
  <div id="loading">
    <div id="loading-back"></div>
    <div id="loading-window">
      <img src="/gif-load.gif" /><br> 読み込み中
    </div>
  </div>
  <div class="modal">
    <input id="modal-trigger-center" class="checkbox" type="checkbox">
    <div class="modal-overlay">
      <div class="modal-wrap a-center">
        <h2>エラー</h2>
        <p>処理中に問題が発生しました。ログインし直して下さい。</p>
        <p id="code" style="color: #cc0000;"></p>
        <a id="btmBackBtn" class="btn btn-blue" href="/">トップに戻る</a>
      </div>
    </div>
  </div>
  <a href="https://github.com/kawakawaritsuki/follow-backuptter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  <footer>
    もしこのサービスに救われた人が居て将来私に会う事があれば寿司でも奢って下さい（笑） 作者: <a href="http://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>
  </footer>
</body>

</html>