<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="mizucoffee">
  <meta name="description" content="Twitterのアカウント凍結対策に！フォローしている人の一覧をバックアップしませんか？簡単操作でダウンロードできますよ！">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="canonical" href="http://hiya.mizucoffee.net/">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/main.css">
  <script src="/analytics.js"></script>
  <title><%- name %></title>
</head>

<body>
  <h1><%- name %> v<%- ver %></h1>
  <main>
    <section>
      <h2>このサービスについて</h2>
      ここ最近，Twitterで有名絵師さんが凍結される事件が発生しています．<br> いつ凍結されるか，とひやひやしている方もいらっしゃるのではないでしょうか．
      <br> そこで，フォローしている人一覧をダウンロード出来るサービスを作りました．
      <br> まだベータ版なので、もしかしたら不具合等があるかもしれません．
      <br> もし何かありましたら，
      <a href="http://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>まで一言いただけますと嬉しいです．
      <bt>
        <br> また，もちろんですがこのツールでのログインでは書込や，記録など一切していませんのでご安心下さい．
        <br> 一人でも被害者が減る事を願っています．
        <br>
        <br>
        <strong>しかし，この一連の事件で私たちには身を守る術がありません．<br>
        苦肉の策がこのふぉろーばっくあっぷったーです．<br>
        Twitter社がきちんと対応して、このようなサービスの必要がなくなるTwitterを楽しみにしています．</strong><br>
        <br>
        <strong>更新:v0.2.0で正式に5000人以上のフォローに対応しました。<br>
        おそらく現状の限界が7万5000人程度かと推測しています。</strong><br>
    </section>
    <a class="btn btn-blue" href="/login">ログイン</a>
  </main>
  <a href="https://github.com/kawakawaritsuki/follow-backuptter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
  <footer>
      もしこのサービスに救われた人が居て将来私に会う事があれば寿司でも奢って下さい（笑） 作者: <a href="http://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>
    </footer>
</body>

</html>