
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1>ふぉろーばっくあっぷったーbeta v0.1.1</h1>
    <div class="main">
      <div class="text">
      <h2>このサービスについて</h2>
      ここ最近，Twitterで有名絵師さんが凍結される事件が発生しています．<br>
      いつ凍結されるか，とひやひやしている方もいらっしゃるのではないでしょうか．<br>
      そこで，フォローしている人一覧をダウンロード出来るサービスを作りました．<br>
      まだベータ版なので、もしかしたら不具合等があるかもしれません．<br>
      もし何かありましたら，<a href="http://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>まで一言いただけますと嬉しいです．<bt>
      <br>
      また，もちろんですがこのツールでのログインでは書込や，記録など一切していませんのでご安心下さい．<br>
      一人でも被害者が減る事を願っています．<br>      
      <br>
      <strong>しかし，この一連の事件で私たちには身を守る術がありません．<br>
      苦肉の策がこのふぉろーばっくあっぷったーです．<br>
      Twitter社がきちんと対応して、このようなサービスの必要がなくなるTwitterを楽しみにしています．</strong><br>
    </div>
      <div class="buttons">
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/auth/twitter'">ログイン</button>
      </div>
    </div>
    <div id="footer">
      こぴーらいと 2017 <a href="http://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>
    </div>
  </body>
</html>
