<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="mizucoffee">
  <meta name="description" content="Twitterのアカウント凍結対策に！フォローしている人の一覧をバックアップしませんか？簡単操作でダウンロードできますよ！">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="canonical" href="https://follow-backup.mizucoffee.net/">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
  <link rel="stylesheet" href="/main.css">
  <script src="/analytics.js"></script>
  <title>
    <%- name %>
  </title>
</head>

<body>
  <h1>
    <%- name %> v
      <%- ver %>
  </h1>
  <main>
    <div class="share">
      <a target="_blank" href="https://twitter.com/share?text=ふぉろーばっくあっぷったーβ&tag=follow_backuptter&via=kawakawaritsuki&url=https%3A%2F%2Ffollow-backup.mizucoffee.net%2F&hashtags=follow_backuptter" class="btn btn-tweet">Twitterでシェア</a>
      <a target="_blank" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fabout.twitter.com%2Fja%2Fresources%2Fbuttons&ref_src=twsrc%5Etfw&related=kawakawaritsuki&screen_name=kawakawaritsuki&tw_p=tweetbutton" class="btn btn-tweet">バグ報告・意見・要望等を作者に言う</a>
    </div>
    <section>
      <h2>このサービスについて</h2>
      2017年の夏頃からTwitterの機械的な凍結システムを悪用した一斉凍結事件が発生しました。<br>
      Twitter社に問いかけても曖昧な返事ばかりであまり良い状況とはいえない状況にあります。<br>
      そこで、ユーザーに出来ることとしてフォローしている人をバックアップするサービスを提供します。<br>
      フォローしている人を把握していれば擬似的に元のタイムラインに戻すことが可能だと考えています。<br>
      <br>
      <strong>しかし，この一連の事件で私たちには身を守る術がありません．<br>
      苦肉の策がこのふぉろーばっくあっぷったーです．<br>
      Twitter社がきちんと対応して、このようなサービスの必要がなくなるTwitterを楽しみにしています．</strong><br>
      <br>
      <h2>簡単に言うと</h2>
      ここ最近、Twitterで有名絵師さんが凍結される事件が発生しています。<br> いつ凍結されるか、とひやひやしている方もいらっしゃるのではないでしょうか。
      <br> そこで、フォローしている人一覧をダウンロード出来るサービスを作りました。
      <br> もし何かありましたら、
      <a href="https://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>まで一言いただけますと嬉しいです。
      <bt>
        <br> また、もちろんですがこのツールでのログインでは書込や、記録など一切していませんのでご安心下さい。(ソースコードは右上のリンクから見る事が出来ます)
        <br> 一人でも被害者が減る事を願っています。
        <br>
        <br>
        <strong style="color:#CC0000">更新:v0.2.0で正式に5000人以上のフォローに対応しました。<br>
        おそらく現状の限界が7万5000人程度かと推測しています。</strong><br>
    </section>
    <a class="btn btn-blue" href="/login">ログイン</a>
  </main>
  <a href="https://github.com/kawakawaritsuki/follow-backuptter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <footer>
    もしこのサービスに救われた人が居て将来私に会う事があれば寿司でも奢って下さい（笑） 作者: <a href="https://twitter.com/kawakawaritsuki">@kawakawaritsuki</a>
  </footer>
</body>

</html>
