body{
  margin: 24px 16px 48px 16px;
  text-align: center;
  background-image: url("../back.png");
  background-repeat: repeat;
}

.share{
  text-align: center;
}

h1{
  text-align: center;
  font-family: "Noto Sans Japanese";
}

h2{
  margin: 0;
  text-align: center;
  font-family: "Noto Sans Japanese";
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  position: relative;
  background-color: #D0D0D0;
  border-radius: 8px;
  font-size: 20px;
  line-height: 62px;
  color: #FFFFFF;
  padding: 12px 20px;
}

.btn:hover {
  background-color: #D0D0D0;
  color: #FFFFFF;
}

.btn:active {
  top: 3px;
  box-shadow: none;
}

.btn-menu{
  width: 40px;
}

.btn-blue { background-color: #3D7EEF; }
.btn-blue:hover { background-color: #2A6DBF; }

.btn-green { background-color: #05A556; }
.btn-green:hover { background-color: #008249; }

.btn-light-blue { background-color: #1DA4BA; }
.btn-light-blue:hover { background-color: #116C7B; }

.btn-tweet { 
  border-radius: 4px;
  background-color: #1b95e0; 
  font-size: 14px;
  line-height: 26px;
  padding: 6px 8px;
}
.btn-tweet:hover { background-color: #0c7abf; }

.btn-disable {
  background-color: #838383; 
  pointer-events: none;
}

.btn-disable:hover { 
  background-color: #838383; 
  text-decoration: none;
}
.btn-disable:active {
  top: 0px;
  box-shadow: none;
}

main{width: 100%;}

section {
  margin: 24px auto;
  max-width: 1024px;
  text-align:left;
  font-size:18px;
  border-radius: 1em;
  padding: 24px;
  background-color:#eee;
}

hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 8px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 24px;
  text-align: center;
  background-color:#222;
  color:#eee;
  z-index: 2;
}

footer a {
  color:#fff;
}

.user{
  text-align: center;
  max-width: 360px;
}

.user img{
  width: 128px;
  margin: 8px;
  border-radius:50%;
}

#user-name{
  font-size:24px;
  text-decoration: underline;
}

.overflow-text{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}

.follow-you .overflow-text{
  width: calc(100% - 160px);
}

.boxContainer{
  margin: 16px 0;
  height: 48px;
  display: flex;
  justify-content: flex-start;
}

.follow-you{
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.follow-you .btn{
  line-height: 29px;
}

.text-float{
  width: calc(100% - 64px);
  line-height:32px;
  padding: 8px;
}

#loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#loading-back {
  position: fixed;
  background-color: #fff;
  opacity: 0.8;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#loading-window {
  position: fixed;
  top: calc(50% - 149px / 2);
  left: calc(50% - 146px / 2);
  width: 90px;
  height: 101px;
  text-align: center;
  font-size: 18px;
  border-radius: 1em;
  padding: 28px 28px 20px 28px ;
  background-color: #eee;
  z-index: 2;
}

@keyframes fadeOut {
  0% {opacity: 1}
  99% {opacity: 0}
  100% {display: none}
}

.clear{
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
